.TestTech {
  text-align: center;
}

.rectangle, .circle {
  position: absolute;
  background-color: transparent;
  border: solid black 1px;
}

.text {
  position: absolute;
  font-family: arial;
  font-size: 40px;
}

.div-shapes {
  width: 600px;
  height: 800px;
  position: relative;
  overflow: hidden;
}